.App {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f5fafa;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #ffffff;
  padding: 40px;
  border: 1px solid #1f5f61;
  border-radius: 10px;
  width: 300px;
}

label {
  font-weight: bold;
}

label,
input {
  display: block;
}

label {
  font-size: 14px;
  margin-bottom: 10px;
}

button {
  background: #bdcece;
  border-radius: 4px;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 1.2px;
  text-align: center;
  line-height: 16px;
  padding: 6px 12px;
  float: right;
}
